<html>
    <head>
        <title>Practica#1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1 style="color: darkslategrey; font-size: 30px">Practica_01-Estados</h1>
        </header>
        
        
         <footer th:fragment="footer">
             <p>&COPY; Derechos reservados 2023</p>
        </footer>
        
       
        <thead th:fragment="thead" style="border-color: steelblue; color: darkblue ">
           
        <tbody th:fragment="tbody" style="border-color: darkblue; color: black ">
            
            
          
            
            
    </body>
</html>
